<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvtu.mapper.TourimStrategyMapper">
    <resultMap id="BaseResultMap" type="com.lvtu.entity.TourimStrategy">
        <id column="strategy_id" jdbcType="INTEGER" property="strategyId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="strategy_name" jdbcType="VARCHAR" property="strategyName"/>
        <result column="strategy_content" jdbcType="VARCHAR" property="strategyContent"/>
        <result column="strategy_way" jdbcType="VARCHAR" property="strategyWay"/>
        <result column="strategy_picture" jdbcType="VARCHAR" property="strategyPicture"/>
        <result column="is_show" jdbcType="INTEGER" property="isShow"/>
        <result column="city" jdbcType="INTEGER" property="city"/>
        <result column="strategy_collections" jdbcType="INTEGER" property="strategyCollections"/>
        <result column="strategy_shares" jdbcType="INTEGER" property="strategyShares"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    strategy_id, user_id, strategy_name, strategy_content, strategy_way, strategy_picture, is_show,city,
     strategy_collections, strategy_shares, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tourim_strategy
        where strategy_id = #{strategyId,jdbcType=INTEGER}
    </select>
    <select id="getStrategyListByAddress" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        strategy_id, strategy_name, strategy_content,create_time,strategy_shares,strategy_collections
        from tourim_strategy
        <where>
            city = #{city,jdbcType=VARCHAR}
            <if test="keyword!=null">
                and strategy_content like #{keyword,jdbcType=VARCHAR}
            </if>
        </where>
        order by strategy_collections desc
    </select>
    <select id="getStrategyListOfUserRelease" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
         strategy_id, strategy_name, strategy_content
        from tourim_strategy
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="getStrategyListOfUserCollection" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
         strategy_id, strategy_name, strategy_content
        from tourim_strategy
        where strategy_id in (select strategy_id from user_collection where user_id = #{userId,jdbcType=INTEGER})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tourim_strategy
    where strategy_id = #{strategyId,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.lvtu.entity.TourimStrategy">
        insert into tourim_strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="strategyId != null">
                strategy_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="strategyName != null">
                strategy_name,
            </if>
            <if test="strategyContent != null">
                strategy_content,
            </if>
            <if test="strategyWay != null">
                strategy_way,
            </if>
            <if test="strategyPicture != null">
                strategy_picture,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="strategyCollections != null">
                strategy_collections,
            </if>
            <if test="strategyShares != null">
                strategy_shares,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="strategyId != null">
                #{strategyId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="strategyName != null">
                #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="strategyContent != null">
                #{strategyContent,jdbcType=VARCHAR},
            </if>
            <if test="strategyWay != null">
                #{strategyWay,jdbcType=VARCHAR},
            </if>
            <if test="strategyPicture != null">
                #{strategyPicture,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="strategyCollections != null">
                #{strategyCollections,jdbcType=INTEGER},
            </if>
            <if test="strategyShares != null">
                #{strategyShares,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lvtu.entity.TourimStrategy">
        update tourim_strategy
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="strategyName != null">
                strategy_name = #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="strategyContent != null">
                strategy_content = #{strategyContent,jdbcType=VARCHAR},
            </if>
            <if test="strategyWay != null">
                strategy_way = #{strategyWay,jdbcType=VARCHAR},
            </if>
            <if test="strategyPicture != null">
                strategy_picture = #{strategyPicture,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="strategyCollections != null">
                strategy_collections = #{strategyCollections,jdbcType=INTEGER},
            </if>
            <if test="strategyShares != null">
                strategy_shares = #{strategyShares,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where strategy_id = #{strategyId,jdbcType=INTEGER}
    </update>
    <update id="updateStrategyStatus" parameterType="java.util.Map">
        update tourim_strategy
        set is_show = #{isShow,jdbcType=INTEGER}
        where strategy_id = #{strategyId,jdbcType=INTEGER}
    </update>
</mapper>