<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvtu.mapper.UserCollectionMapper">
    <resultMap id="BaseResultMap" type="com.lvtu.entity.UserCollection">
        <id column="collection_id" jdbcType="INTEGER" property="collectionId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="strategy_id" jdbcType="INTEGER" property="strategyId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    collection_id, user_id, strategy_id, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_collection
        where collection_id = #{collectionId,jdbcType=INTEGER}
    </select>

    <select id="getCollectionId" parameterType="java.util.Map" resultType="java.lang.Integer">
        select collection_id
        from user_collection
        where strategy_id = #{strategyId,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_collection
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lvtu.entity.UserCollection">
    insert into user_collection (collection_id, user_id, strategy_id, 
      create_time)
    values (#{collectionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{strategyId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.lvtu.entity.UserCollection">
        insert into user_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collectionId != null">
                collection_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="strategyId != null">
                strategy_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="collectionId != null">
                #{collectionId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="strategyId != null">
                #{strategyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lvtu.entity.UserCollection">
        update user_collection
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="strategyId != null">
                strategy_id = #{strategyId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where collection_id = #{collectionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lvtu.entity.UserCollection">
    update user_collection
    set user_id = #{userId,jdbcType=INTEGER},
      strategy_id = #{strategyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where collection_id = #{collectionId,jdbcType=INTEGER}
  </update>
</mapper>